.border {
    border: 2px solid var(--main-color-900);
}

.border-bottom {

    border-bottom: 2px solid var(--main-color-900);
}

.borderless {
    border: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
}



.bottom-margin {
    margin-bottom: 1rem;
}

.top-margin {
    margin-top: 1rem;
}

.right-margin-gap {
    margin-right: 0.3rem;
}


.full-height {
    height: 100%;
}

.full-height--viewport {
    height: 100vh;
}

.full-width {
    width: 100%;
}


.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex--justify-center {
    justify-content: center;
}

.flex--start {
    justify-content: flex-start;
}

.flex--end {
    justify-content: flex-end;
}

.flex--spread {
    justify-content: space-between;
}



.flex--align-center {
    align-items: center;
}

.flex--align-start {
    align-items: flex-start;
}

.flex--align-end {
    align-items: flex-end;
}





.grid {
    display: grid;
}
