/* Barra */
.bar {
    display: flex;
    justify-content: space-between;

    width: var(--bar-width);

    border: none;
    border-bottom: 4px solid var(--main-color-900);

}

.bar-indicator {
    display: inline-block;
    position: relative;
    top: 1rem;

    height: 0.8rem;
    width: 4px;

    background-color: var(--main-color-900);


}
.bar-field {

    width: 2rem;

    color: var(--main-color-900);
    font-size: 1.3rem;
    text-align: center;

    border: 0;
    outline: 0;

    background: transparent;
}

/*
.bar > label {
    display: none;
}
*/

