#characteristicsPage {

    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    'specialSkills characteristicsList'
    'specialSkills characteristicsList'
    'specialSkills characteristicsList'
    'specialSkills characteristicsList'
    'specialSkills characteristicsList'
    'specialSkills characteristicsList';

    grid-gap: 1rem;


    padding: 1rem;
    border: 3px solid var(--main-color-900);
}


#specialSkillsBox {
    grid-area: specialSkills;

    grid-template-rows: 3rem auto;
    grid-template-areas:
    'buttomBar'
    'skillList';

    grid-row-gap: 2rem;
}


#specialSkillsBar {
    grid-area: buttomBar;
}

#specialSkillName {
    width: 80%;

    border: none;
    outline: none;
    background: transparent;

    font-size: 1em;
    padding: 15px 0 0 0; /* Faz o texto descer */
}


#specialSkillsList {
    grid-area: skillList;

    /* row-gap: 1.2rem; */
    grid-template-columns: 1fr;
    grid-gap: 1.2rem 1.5rem;

    align-content: flex-start;

}




#characteristics {
    grid-area: characteristicsList;

    grid-template-rows: 3rem auto;
    grid-template-areas:
    'buttomBar'
    'characteristicsList';

    grid-row-gap: 2rem;
}


#characteristicsBar {
    grid-area: buttomBar;
}

#characteristicName {
    width: 80%;

    border: none;
    outline: none;
    background: transparent;

    font-size: 1em;
    padding: 15px 0 0 0; /* Faz o texto descer */
}

#characteristicsList {
    grid-area: characteristicsList;
    row-gap: 1.2rem;
}
