/* Configurações de fonte, borda, padding, margem e variáveis para 
 * elementos comums. Isto é o tamanho padrão da fonte e afins.
 * As variveis são usadas pelas entradas de texto e números para 
 * determinar a cor da borda inferior e do texto. */
/*
 .regular-element {

    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.03rem;

    border: 2px solid var(--alt-bc);

    padding: var(--v-padding) var(--h-padding);
    margin: 0 0;

    --field-tc: var(--alt-bc);
    --field-bc: var(--alt-bc);
    --field-ta: var(--alt-bbg);
}
*/


/* Configuração de um input que receberá texto. */
.text-input {
    width: 100%;
    margin-left: 0.2rem;

    border: none;
    outline: none;
    background: transparent;

    border-bottom: 2px solid var(--main-color-900);

    font-size: 1em;
}



/* Configuração de um input que receberá apenas números.
 * A validação de números é feita usando javascript */
.number-input {

    width: 5rem;
    margin-left: 0.2rem;

    border: none;
    outline: none;
    background: transparent;

    border-bottom: 2px solid var(--main-color-900);

    text-align: center;
    font-size: 1em;
}

/* Classe usada para limitar o tamanho do campo de números */
.two-numbers {
    width: 2rem;
}

/* Classe usada apenas para selecionar todos as
 * entradas numéricas que são limitadas superiormente.
 * Atributos e perícias que são limitadas em 20. */
.upped-bounded { }

/* Classe usada apenas para selecionar todos as
 * entradas numéricas que são limitadas inferiormente.
 * Atributos e perícias que são limitadas em 2. */
.lower-bounded { }



/* Configuração de um input que receberá uma área de texto. */
.textarea-input {

    height: 100%;
    resize: none;

    padding: 0.5rem;

    /* color: var(--field-tc); */
    text-decoration: none;
    font-size: 0.85em; 
    font-weight: 200;
    /* letter-spacing: normal; */

    border: 0;
    outline: 0;

    /* background: var(--main-color-200); */
    border: 1px solid var(--main-color-900);
}


/* Padding para ajustar a altura do texto do rótulo ao 
 * texto dentro das entradas. */
.field-label {

    /* padding: 7px 0 1px 0; */
}





.checkbox {
    cursor: pointer;

    width: 0.9em;
    height: 0.9em;

    border: 2px solid var(--main-color-900);
    transition: background 0.6s ease-in;
}

.checkbox-input {
    cursor: pointer;

    opacity: 0;
    position: absolute;
}

.checkbox-fill {
    width: 100%;
    height: 100%;

    transition: all 0.2s ease-in;
}

input[type='checkbox']:checked + .checkbox-fill {
    background-color: var(--main-color-900);
}





