* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}


:root {

    --main-color-900: #1A1A1A;
    --main-color-200: #CECECE;
    --main-color-100: #EEEEEE;


    --icon-stroke-color: #1A1A1A;
}


html {

    /* Tipografia fluida
     * Alterando o tamanho da fonte aqui as
     * unidades rem e em passam a ser fluidas
     * também e eu não tenho que me preocupar */
    font-size: clamp(1rem, 1.2vw, 1.25rem);
    font-family: 'Work Sans', sans-serif;

    min-height: 100vh;
}


body {
    min-height: 100vh;

    color: var(--main-color-900);
    background-color: var(--main-color-100);
}


h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}


input[type='file'] {

    /* Opacity é melhor que display:none porque para tecnologia de assitência
     * acho que leitores e coisas do tipo para pessoas com deficiência consideram
     * que o objeto não é interativo se isto for usado. Com opacity ele permanece
     * interativo */
    opacity: 0;
    position: absolute;
    width: 0;

}




.btn {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;

  padding: 1.5rem 1rem;
  border: 2px solid var(--main-color-900);

  color: var(--main-color-100);
  background-color: var(--main-color-900);

  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {

  color: var(--main-color-900);
  background-color: var(--main-color-100);
}


.btn + .btn {

  margin-top: 2rem;
}




.main {
    /*
     * position: relative;
     * height: 100%;
     */
}

.info-box {
    padding: 1em 0.8em 1em 0.6em;
    font-size: 1.2rem;
}

.info-box--header {
    font-size: 1.25rem;
}


#outer-grid {

    grid-template-columns: minmax(10rem, 10%) auto minmax(10rem, 10%);
    grid-template-rows: 4rem auto;
    grid-template-areas: 
    'tabBar contentArea barSelector'
    'tabBar contentArea rightBar';

    width: 100%;
    grid-column-gap: 8rem;
}

#tab-bar {
    grid-area: tabBar;
}


#content {
    /* padding: 3em 0; */
    grid-area: contentArea;
}


#bar-selector {
    grid-area: barSelector;
    height: 4rem;
}

#utility-bar, #ext-bar {
    grid-area: rightBar;
}


.font-medium {
    font-size: 1.2rem;
}
