#mainPage {

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 1.8fr) auto auto;
    grid-template-areas:
    'basicInfo basicInfo basicInfo'
    'dispInfo dispInfo statsInfo'
    'resInfo cafInfo camInfo'
    'generalSkillsInfo generalSkillsInfo generalSkillsInfo'
    'focusedSkillsInfo focusedSkillsInfo focusedSkillsInfo';

    grid-gap: 1rem;


    padding: 1rem;
    border: 3px solid var(--main-color-900);
}


#basicInfo {
    grid-area: basicInfo;
}

#dispInfo {
    grid-area: dispInfo;
}

#statsInfo {
    grid-area: statsInfo;
}

#cafInfo {
    grid-area: cafInfo;
}

#camInfo {
    grid-area: camInfo;
}

#woundsInfo {
    grid-area: woundsInfo;
}

#resInfo {
    grid-area: resInfo;
}

#generalSkillsInfo {
    grid-area: generalSkillsInfo;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
}

#focusedSkillsInfo {
    grid-area: focusedSkillsInfo;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
}
