.selector {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--main-color-100);
    background-color: var(--main-color-900);
}

/* Estilos quando se clica em um dos botões */
.selector.utils-active,
.selector.ext-active {
    right: 0;
    /* calc(0.5rem + min(10rem, 10%)); */
}



.selector-btn {
    width: 100%;
    padding: 0.6em;

    display: flex;
    justify-content: center;
    align-items: center;

    --icon-stroke-color: var(--main-color-100);
}

.selector-btn svg {
    width: 3rem;
    height: 3rem;
}


.selector-btn:hover {
    color: var(--main-color-900);
    background-color: var(--main-color-100);

    --icon-stroke-color: var(--main-color-900);
}

.selector-btn:hover #orb-icon #orb-group {

    animation: hover 2s linear infinite;
}

@keyframes hover {

    25% { transform: translateY(-10%); }

    65% { transform: translateY(10%); }

}


.selector-btn:hover #d12-icon #d12 {

    transform-origin: 50% 50%;
    animation: slide 1s linear infinite;
}

@keyframes slide {

    30% { transform: rotate(73deg); }

    /* Mantém a animação para até a próxima iteração */
    100% { transform: rotate(73deg); }
}






.side-bar {
    height: 100%;
    overflow: auto;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* width: min(20rem, 10%); */
    background-color: var(--main-color-900);
    color: var(--main-color-100);
}

.visible {
    display: flex;
}

.side-bar.active {
    display: flex;
}



.side-bar-btn {
    background-color: var(--main-color-900);
    color: var(--main-color-100);

    width: 100%;
    height: 5rem;

    text-align: center;
    text-decoration: none;

    /* padding: 1.75em 2em 1.75em 1em; */
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 1em;
    padding-right: 2em;
}

.side-bar-btn:hover {

    background-color: var(--main-color-100);
    color: var(--main-color-900);
}





.page {
    display: none;
    min-height: 100vh;
}

.page:target {
    display: grid;
}









.simple-btn {
    background-color: var(--main-color-900);
    color: var(--main-color-100);

    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /* padding: 1.75em 0; */
    padding: 0 1rem;
}

.simple-btn:hover {

    background-color: var(--main-color-100);
    color: var(--main-color-900);
}
