.popup {

    display: none; 
    /* display: flex; */
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    overflow: auto;

    z-index: 1;
    background-color: #1A1A1A33;
}


.popup.active {
    display: flex;
}



.popup-content {

    width: 40rem;
    height: 10rem;

    padding: 1rem;

    background-color: var(--main-color-900);
    color: var(--main-color-100);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-header {
    font-size: 1.2rem;
}
